h1{
    font-family: 'Nunito';
    font-size: 30px;
    width: 40%;
    padding-left: 15px;
    border: 5px solid blue;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    text-align: center;
}
.box{
  width: 92%;
  height: 500px;
  display: flex;
  color: white;
  border-radius: 40px;
}

.profil{
  flex-basis: 80%;
  padding: 40px;
  padding-top: 50px;
  color: black;
  border-radius: 40px;
  background-color:rgb(45, 102, 177);
}

.button {
  width: 70%;
  border-radius: 20px;
}
.formProfil{
  max-width: 500px;
}

.setting-form-txt{
  width: 100%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline:none;
  margin-bottom: 20px;
  padding: 15px;
}
.setting-form-txt::placeholder{
  color: #aaa;
}
label{
  font-family: 'Nunito';
  font-size: 15px;
}
input.ng-valid{ border-left: 3px solid green;}
input.ng-invalid{ border-left: 3px solid red;}
/* textarea.ng-valid{ border-left: 3px solid #ffc107;}
textarea.ng-invalid{ border-left: 3px solid #dc3545;} */
.form{
  width: 500px;
  height: 420px;
  padding-left: 50px;

}
/* eye */
.input-container{
  position: relative;
  width: 180px;
}

.conatiner{
  padding-left: 160px;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: rgb(210, 224, 224);
  padding: 40px 0;
}
.wrapper .sidebar span{
  padding: 15px;
}

.wrapper .sidebar span a{
color: #bdb8d7;
display: block;
}

.wrapper .sidebar span a .fas{
width: 25px;

}
.wrapper .sidebar span:hover{
background-color: #7ab1be;
}

.wrapper .sidebar span a{
color:rgb(22, 25, 214);
}


