<!-- first step creation header -->
<header>
    <mat-toolbar>
        <span class="logo">
            <img src="../../../assets/logo.png" alt="chef">
            <span class="nameLogo" class="text-primary">GestImmo</span>
        </span>
        <span class="spacer"></span>
        <a mat-button routerLink="/home"><mat-icon>home</mat-icon></a>
        <a mat-button routerLink="/consulter">Consulter</a>
        <a mat-button routerLink="/service">Services</a>
        <button class="btn btn-light rounded-pill mx-3"  (click)="openForm()">
            <i class="bi bi-plus-circle"></i> S'inscrire 
        </button>

        <button *ngIf="!isConnected" mat-raised-button color="primary" routerLink="/login">login</button>

    </mat-toolbar>
</header>